markdown-grid-tables
mkdocs-static-i18n
markdown-exec
mkdocs-encryptcontent-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocs-glightbox
mkdocs-git-authors-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
neoteroi-mkdocs
termynal
matplotlib
matplotlib_venn
numpy
pandas
scikit-learn
seaborn
tabulate
yfinance
Pillow
ipython